<%- include("partials/header") -%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Signed In | Tutors4Zoomers</title>
</head>

<body>

<%- include("partials/loginNav.ejs") -%>

<% allData.forEach(data => { %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <p> Status: <%= data.status %> 
            <br>
                Name: <%= data.detail.firstName %> <%= data.detail.lastName %>
            <br>
                Education: <%= data.detail.education %>
            <br>
                Major: <%= data.detail.major %>
            </p>
            <form action="/sendemail" method="POST">
                <input type="text" name="email" id="" hidden value="<%= data.detail.email %>">
                <button>Contact</button>
            </form>
            
        </div>
    </div>
<% }) %>



<%- include("partials/footer") -%>