<%- include("partials/header") -%>
<title>Feature Page</title>
</head>
<body>

<%- include("partials/navbar.ejs") -%>

    <form action="/feature" method="POST">
        <input type="text" name="title" id="" placeholder="title">
        <input type="text" name="info" id="" placeholder="info">
        <input type="submit" name="" id="" value="ClickMe">
    </form>


    <div>
        <h5><%= info.title %></h5>
        <p><%= info.body %></p>
    </div>

<%- include("partials/footer") -%>